h1{color: blue; text-align: center; font-size: 60px;}
p{padding-left: 2%; font-size: 30px;}
div{background-color: orange; margin: 50px; display: flexbox; text-align: center;}
h2{font-size: 50px; font-family: times new roman;}
